@{
    ViewData["Title"] = "Home Page";
}


<div class="text-center">
    <br />
    <br />
    <h1 class="display-4">Welcome</h1>
    <br />
    <p>
        <a asp-controller="Course" asp-action="GetAllCourses" class="btn btn-primary mx-1"> All our current Сourses </a>
    </p>
    <br />
</div>
