@model Domain.ViewModels.GroupVM
@{
    ViewData["Title"] = "Delete";
}
<form method="post" asp-action="Delete">
    <input asp-for="Id" hidden />
    <div class="border p-3">
        <div class="form-group row">
            <h2 class="text-black pl-3">Delete Group</h2>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="form-group row">
                    <div class="col-6">
                        <label asp-for="GroupName">Group</label>
                    </div>
                    <div class="col-6">
                        <label asp-for="Course.CourseName">Course</label>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-6">
                        <input asp-for="GroupName" disabled class="form-control" />
                    </div>
                    <div class="col-6">
                        <input asp-for="Course.CourseName" disabled class="form-control" />
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-8 offset-2 row">
                        <div class="col">
                            <input type="submit" class="btn btn-danger w-75" value="Delete" />
                        </div>
                        <div class="col">
                            <a asp-action="GetAllGroups" asp-route-Id="Course.CourseId" class="btn btn-success w-75">Back</a>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</form>

@section Scripts{
    @{
        <partial name="_ValidationScriptsPartial" />
    }
 }


