@{
    ViewData["Title"] = "Error";
}

<div class="text-center text-danger">
    <h1>Error!</h1>
    <h2>You can't delete this group!</h2>
    <h2>
        <a asp-controller="Group" asp-action="GetAllGroups" class="btn btn-primary mx-1">Return to groups list</a>
    </h2>
</div>